@model List<Logic.Models.Contact>

@{
    ViewBag.Title = "My Contacts";
}

<h2>My contacts</h2>
<hr />

@if (Model != null)
{
    <table align="center"| border="1" ellspacing="2">
        <tr>
            <td></td>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Phones</td>
        </tr>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@Html.ActionLink("Update", "Update", "Contact")</td>
                <td>@contact.Id</td>
                <td>@contact.Name</td>
                <td>@contact.Email</td>
                <td><a href="/Contact/Details/@contact.Id">Details</a></td>
            </tr>
        }
    </table>
}
<hr />
@Html.ActionLink("Add new contact", "Add", "Contact")

